<%= base_form_container do %>
  <div class="form_in_page">
    <%= simple_form_for [:admin, object] do |f| %>
      <fieldset>

        <%= f.input :name %>
        <%= rich_text_editor(f, :description) %>
        <%= single_image_input(f, :picture) %>
        <%= single_attachment_input(f, :file) %>

      </fieldset>


      <% if object.persisted? %>

        <%= subobject(t(:comments), f, :comments, to_load: ".row_comment",
                      url_partial: new_admin_post_comment_path(object)) do |frm| %>

          <%= frm.input :author %>
          <%= rich_text_editor(frm, :description) %>
          <%= single_attachment_input(frm, :file) %>



          <%
            uid = frm.object.id
            selector = "comment_gallery_#{uid}"
          %>

          <div id="<%= selector %>">
            <%= gallery_input(frm, :comment_pictures,
                              partial_url: edit_admin_post_path(object, :html),
                              partial_identifier: "##{selector}") %>
          </div>

          <%= frm.input :position, as: :hidden, input_html: {class: "sortable_field"} %>


        <% end %>


      <% end %>

      <%= f.submit Alchemy.t(:save) %>

    <% end %>
  </div>
<% end %>

